@{
    ViewData["Title"] = "Air";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Test Test Test</p>

<script type="text/javascript" language="javascript" id="OFrameworkJS" ThemeURI="https://cooktraveldemo.azurewebsites.net/OdyAirSearch/"
     SkinID="default" src="https://cooktraveldemo.azurewebsites.net/web/SearchForms/OFramework.js" ></script>